@model IEnumerable<WebApplication1.Models.ProductTypes>

@{
    ViewData["Title"] = "Index";
}
<div vlass="row">
    <div class="col-6">
        <h2>Product Types</h2>

    </div>
    <div class=" text-right" >
        <a asp-action="Create"> New Product Type</a>

    </div>


</div>


0
<table class="table table-striped">
    <thead>
        <tr>
           
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="text-right">
                <label>Operation</label>

            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
   
        <tr>
           
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class="text-right">
            <partial name="_tablebtnpartial" model="item.Id" />
            </td>
        </tr>

}
       
    </tbody>
</table>
